// TEMPORARY REMOVAL OF BLOCKS
.remove {
  display: none !important;
}

// CATCH ALL VIDEO POSTER SIZING
video {
  object-fit: cover;
}

// DOCUMENT OVERFLOW
#content {
  overflow: hidden;
}

// ANCHOR LINK
html {
  scroll-behavior: smooth;
}
// HAMBURGER OPENED - STOP BODY SCROLL
body {
  &.nav-opened {
    height: 100%;
    overflow: hidden;
  }
}

// BODY GRADIENT
.bg-gradient {
  filter: blur(250px);
  z-index: -1;
  position: relative;
  // box-shadow: 0 0 550px 260px #24f4ab;
  box-shadow: 0 0 350px 260px #24f4ab;
  opacity: 0.25;
  width: 0;
  // height: 100px;
  display: block;
  // &--top-left {
  // }
  &--bottom-right {
    left: 100%;
  }
}

body {
  background: $black-bg;
}

// GLOBAL SPACER
.space {
  &--padding {
    &--top {
      padding-top: 60px;
      @media only screen and (min-width: 768px) {
        padding-top: 80px;
      }
      @media only screen and (min-width: 991px) {
        padding-top: 160px;
      }
    }
    &--bottom {
      padding-bottom: 60px;
      @media only screen and (min-width: 768px) {
        padding-bottom: 80px;
      }
      @media only screen and (min-width: 991px) {
        padding-bottom: 160px;
      }
    }
  }
  &--margin {
    &--top {
      margin-top: 60px;
      @media only screen and (min-width: 768px) {
        margin-top: 80px;
      }
      @media only screen and (min-width: 991px) {
        margin-top: 160px;
      }
    }
    &--bottom {
      margin-bottom: 60px;
      @media only screen and (min-width: 768px) {
        margin-bottom: 80px;
      }
      @media only screen and (min-width: 991px) {
        margin-bottom: 160px;
      }
    }
  }
}

// DROP SHADOW
.green-shadow {
  box-shadow: 0 0 30px -10px $green;
}

// RADIUS
.radius {
  border-radius: 17px;
}

// TITLE SECTIONS
.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 638px;
  margin: 0 auto;
  h6 {
    color: $green;
    text-transform: uppercase;
    filter: drop-shadow(0 0 5px #24f4ab99);
    font-family: "blinkersemibold", sans-serif;
    margin-bottom: 10px;
  }
  h2 {
    color: white;
    margin-bottom: 16px;
  }
  p {
    color: $grey;
  }
}

// GLOBAL VIDEO STYLING
.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  aspect-ratio: 1.79;

  .play-button,
  .hero-play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;

    &.show {
      svg {
        opacity: 1;
      }
    }
    &.hide {
      svg {
        opacity: 0;
      }
    }
    svg {
      transition: all 0.4s;
      filter: drop-shadow(2px 4px 6px black);
      @media only screen and (max-width: 991px) {
        width: 40px;
      }
    }
    &:hover {
      svg {
        filter: drop-shadow(2px 4px 16px black);
      }
    }
  }
}

//  BACK TO TOP
.back-to-top-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  .back-to-top {
    @media only screen and (min-width: 768px) {
      right: 40px;
      bottom: 61px;
    }
    right: 10px;
    bottom: 10px;

    z-index: 10000;
    margin-top: -171px;
    position: fixed;
    opacity: 0;
    transition: all 0.5s ease-in;
    &.show {
      opacity: 1;
    }

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    background-color: $black-1;
    border: 1px solid $black-3;
    width: 60px;
    height: 60px;

    svg {
      margin: 0 auto;
    }
    &:hover {
      background-color: $black-3;
      // cursor: pointer;
    }
  }
}
