// ANCHOR LINK
html {
  scroll-behavior: smooth;
}

// BODY GRADIENT
.bg-gradient {
  filter: blur(250px);
  z-index: -1;
  position: relative;
  // box-shadow: 0 0 550px 260px #24f4ab;
  box-shadow: 0 0 350px 260px #24f4ab;
  opacity: 0.25;
  width: 0;
  height: 100px;
  display: block;
  // &--top-left {
  // }
  &--bottom-right {
    left: 100%;
  }
}

body {
  background: $black-bg;
}

// FOLLOW GRADIENT
// .follow-gradient {
//   height: 500px;
//   overflow: hidden;
//   background-color: $black-1;
//   .blob, stat-gradient {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 650px;
//     height: 650px;
//     border-radius: 100%;
//     background: linear-gradient($green 10%, transparent);
//     filter: blur(250px);
//     transition: all 450ms ease-out;
//     position: fixed;
//     pointer-events: none;
//     right: 0;
//     bottom: 0;
//     // transform: translate(calc(-50% + 15px), -50%);
//     // transform: translate(calc(-50% + 15px), 0);
//     z-index: -1;
//   }
// }

// DROP SHADOW
.green-shadow {
  box-shadow: 0 0 30px -10px $green;
}

// RADIUS
.radius {
  border-radius: 17px;
}

// DISAPPEARING NAV
.skybox-menu {
  overflow: hidden;
  height: 80px;
  background: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  // position: fixed;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  transition: ease 0.4s;
  &--scrolled {
    height: 0px;
  }
  .container {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      li {
        list-style: none;
        a {
          display: block;
          text-align: center;
          padding: 13px 20px;
          text-decoration: none;
          font-size: 16px;
          line-height: 20px;
          font-family: "blinkerregular", sans-serif;
          color: black;
          transition: all 0.4s;
          &:hover {
            color: #7075d6;
          }

          &.nav-btn {
            border-radius: 9999px;
            padding: 13px 26px;
            background-color: #7075d6;
            color: white;

            &:hover {
              background-color: #e6e7fa;
              color: black;
            }
          }
        }
      }
    }
  }
}
.header-content {
  padding-top: 25px;
  padding-bottom: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;

  .login-btn {
    justify-self: end;
  }
}
// EDGE

// END EDGE
#site-navigation {
  // width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;

  #primary-menu,
  .nav-menu {
    width: min-content;
    padding: 0;
    display: flex;
    flex-direction: row;
    column-gap: 35px;
    margin: 0;
    li {
      list-style: none;
      a {
        // font-family: "Blinker", sans-serif;
        font-family: "blinkerregular", sans-serif;
        color: white;
        text-decoration: none;
        transition: all 0.4s;
        &:hover {
          color: $green;
        }
      }
    }
  }
}
.custom-logo-link {
  img {
    max-width: 100px;
  }
}
// img.site-logo-header {
//   max-width: 100px;
// }

// TITLE SECTIONS
.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 568px;
  margin: 0 auto;
  h6 {
    color: $green;
    text-transform: uppercase;
    filter: drop-shadow(0 0 10px $green);
  }
  h2 {
    color: white;
  }
  p {
    color: $grey;
  }
}

// FOOTER
footer {
  padding: 30px 0 20px 0;
  border-top: 1px solid $black-3;

  .container {
    .copyright {
      color: $grey;
      font-size: 10px;
      display: flex;
      flex-direction: column;
      span {
        font-family: "blinkerregular", sans-serif;
      }
    }
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    .custom-logo-link {
      text-align: center;
    }
    .social-media-menu {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      column-gap: 20px;
      row-gap: 20px;
      li {
        width: 21px;
        height: 21px;
        padding: 0;
        list-style: none;
        a {
          svg {
            path {
              transition: all 0.4s;
            }
          }
          &:hover {
            svg {
              path {
                fill: $green;
              }
            }
          }
          // &.sm-x {
          //   &:hover {
          //     svg {
          //       path {
          //         fill: $green;
          //       }
          //     }
          //   }
          // }
          // &.sm-ig {
          //   &:hover {
          //     svg {
          //       path {
          //         fill: $green;
          //       }
          //     }
          //   }
          // }
          // &.sm-yt {
          //   &:hover {
          //     svg {
          //       path {
          //         fill: $green;
          //       }
          //     }
          //   }
          // }
          // &.sm-dc {
          //   &:hover {
          //     svg {
          //       path {
          //         fill: $green;
          //       }
          //     }
          //   }
          // }
          // &.sm-fb {
          //   &:hover {
          //     svg {
          //       path {
          //         fill: $green;
          //       }
          //     }
          //   }
          // }
        }
      }
    }
  }
}
// todo - back t top button
// TODO - CUSTOM TOGGLE SWITCH
// simple toggle
// https://www.sliderrevolution.com/resources/css-toggle-switch/
// exact location: .... VVV
// https://www.sliderrevolution.com/resources/css-toggle-switch/#:~:text=and%20the%20Empire.-,Simple%20Toggle,-Author%3A%20magnificode

.btn {
  border-radius: 6px;
  padding: 8px 19px;
  // font-family: "Blinker", sans-serif;
  //font-family: "blinkersemibold", sans-serif;
  font-family: "blinkerregular", sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  max-width: max-content;
  // display: inline-block;
  display: block;
  position: relative;
  text-align: center;
  // border: 3px solid #1a1a1a;
  transition: all 0.4s;

  &--solid {
    background-color: $green;
    color: $black-text;
    border: 1px solid $black-3;
    &:hover {
      background-color: transparent;
      color: white;
      border: 1px solid $green;
    }
  }
  &--solid-white {
    background-color: white;
    color: $black-text;
    &:hover {
      background-color: #d6d6d6;
      // border: 1px solid white;
    }
  }
  &--solid-grey {
    background-color: $black-3;
    color: white;
    &:hover {
      background-color: #424851;
      border: 1px solid $black-3;
    }
  }
  &--outline {
    background-color: transparent;
    color: white;
    border: 1px solid $green;
    &:hover {
      // background-color: $green;
      border: 1px solid white;
    }
  }
  &--outline-grey-gradient {
    background-color: transparent;
    color: $grey-text;
    border: 1px solid $black-3;
    overflow: hidden;
    transition: all 0.5s;
    &::before {
      --size: 0;
      content: "";
      position: absolute;
      left: var(--x);
      top: var(--y);
      width: var(--size);
      height: var(--size);
      filter: blur(30px);
      background: radial-gradient(
        circle closest-side,
        $green 0%,
        $green 20%,
        transparent 70%
      );
      transform: translate(-50%, -50%);
      transition: width 0.2s ease, height 0.2s ease;
    }
    &:hover::before {
      --size: 200px;
    }
    &:hover {
      border: 1px solid $green;
      overflow: hidden;
    }
    &.active {
      background-color: $green-dark;
      border: 1px solid $green;
      color: white;
    }
  }
}

// BTN HOVER GRADIENT
// .follow-gradient {
//   height: 500px;
//   overflow: hidden;
//   background-color: $black-1;
//   .blob {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 650px;
//     height: 650px;
//     border-radius: 100%;
//     background: linear-gradient($green 10%, transparent);
//     filter: blur(250px);
//     transition: all 450ms ease-out;
//     position: fixed;
//     pointer-events: none;
//     right: 0;
//     bottom: 0;
//     // transform: translate(calc(-50% + 15px), -50%);
//     // transform: translate(calc(-50% + 15px), 0);
//     z-index: -1;
//   }
// }

// input[type="radio"].toggle {
//   display: none;
//   & + label {
//     cursor: pointer;
//     min-width: 60px;
//     &:hover {
//       background: none;
//       color: #1a1a1a;
//     }
//     &:after {
//       background: #1a1a1a;
//       content: "";
//       height: 100%;
//       position: absolute;
//       top: 0;
//       transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
//       width: 100%;
//       z-index: -1;
//     }
//   }
//   &.toggle-left + label {
//     border-right: 0;
//     &:after {
//       left: 100%;
//     }
//   }
//   &.toggle-right + label {
//     margin-left: -5px;
//     &:after {
//       left: -100%;
//     }
//   }
//   &:checked + label {
//     cursor: default;
//     color: #fff;
//     transition: color 200ms;
//     &:after {
//       left: 0;
//     }
//   }
// }

// STANDOUT FEATURE
#standout-feature-grid {
  display: grid;
  grid-template-columns: auto auto;
}

// HERO
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

//
.video-container {
  position: relative;
  width: fit-content;
  overflow: hidden;
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;

    &.show {
      svg {
        opacity: 1;
      }
    }
    &.hide {
      svg {
        opacity: 0;
      }
    }
  }
}

#hero {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hero-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 0;
    img {
      max-width: 60px;
      width: 100%;
      height: auto;
      display: block;
      position: relative;
      &:hover {
        animation: shake 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
    }
    .lhs-logos {
      img {
        &:nth-child(1) {
          top: -10px;
        }
        &:nth-child(2) {
          left: 180px;
          top: -41px;
        }
        &:nth-child(3) {
          left: 120px;
        }
        &:nth-child(4) {
          top: 30px;
        }
        &:nth-child(5) {
          left: 290px;
          top: -110px;
        }
        &:nth-child(6) {
          top: 90px;
        }
      }
    }
    .rhs-logos {
      img {
        &:nth-child(1) {
          top: 5px;
        }
        &:nth-child(2) {
          right: 220px;
          top: 26px;
        }
        &:nth-child(3) {
          right: 90px;
        }
        &:nth-child(4) {
          top: 30px;
        }
        &:nth-child(5) {
          right: 290px;
          top: -110px;
        }
        &:nth-child(6) {
          top: 90px;
        }
      }
    }
  }
  h1 {
    // max-width: 440px !important;
    width: 440px !important;
    // width: 100%;
    text-align: center;
  }
  p {
    max-width: 374px;
    text-align: center;
  }
  .video-section {
    position: relative;
    margin-top: 60px;
    span {
      width: 0;
      height: 0;
      display: block;
      box-shadow: 0 0 340px 190px rgba(255, 255, 255, 0.15);
      position: relative;
      margin: 0 auto;
      top: 0;
      z-index: 0;
    }
    .video-container {
      overflow: hidden;
      video {
        aspect-ratio: 1.79;
        max-width: 972px;
      }
    }
  }
}

// GLOBAL VIDEO STYLING
.play-button {
  svg {
    transition: all 0.4s;
    filter: drop-shadow(2px 4px 6px black);
  }
  &:hover {
    svg {
      filter: drop-shadow(2px 4px 16px black);
    }
  }
}

// TESTED TODO- RENAME BLOCK AND ACF FIELDS
#tested {
  h2 {
    margin-top: 90px;
    margin-bottom: 50px;
    text-align: center;
  }
  .top-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 110px;
    margin-bottom: 60px;
    .grid-item {
      span {
        svg {
          margin-top: -4px;
        }
      }
    }
  }
  .bottom-row {
    display: flex;
    flex-direction: row;
    gap: 110px;
    justify-content: center;
    .grid-item {
      span {
        svg {
          margin-top: -4px;
        }
      }
      &:nth-child(1) {
        justify-content: flex-end;
        margin: 0 0 0 0;
      }
      &:nth-child(2) {
        justify-content: flex-start;
        margin: 0 0 0 0;
      }
    }
  }
  .grid-item {
    max-width: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    div.video-container {
      width: 100%;
      border-radius: 7px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      video {
        width: 100%;
      }
      svg {
        opacity: 0;
      }
    }
    div.detail {
      margin-top: 12px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      span {
        color: $grey-1;
      }
    }
  }
}

// STAT CONTAINER
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-1000%);
  }
}
#stat-container {
  background: radial-gradient(ellipse at 50% 167%, #262c33 0%, #111619 70%);
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 90px auto;
  border: 1px solid $black-3;
  gap: 60px;
  overflow: hidden !important;
  position: relative;
  // transform-style: preserve-3d;
  // .stat-gradient {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 650px;
  //   height: 650px;
  //   border-radius: 100%;
  //   background: linear-gradient($black 10%, $grey);
  //   filter: blur(250px);
  //   transition: all 450ms ease-out;
  //   position: fixed;
  //   pointer-events: none;
  //   right: 0;
  //   bottom: 0;
  //   transform: translate(calc(-50% + 15px), -50%);
  //   // transform: translate(calc(-50% + 15px), 0);
  //   z-index: -1;
  // }

  .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 120px;
    .stat {
      max-width: max-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
      }
      p {
        text-align: center;
      }
    }
  }
  h4 {
    text-align: center;
    margin: 60px auto 30px auto;
    color: white;
    width: 100%;
  }
  .logo-container {
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // .swiper-slide {
    //   text-align: center;
    //   // font-size: 18px;
    //   // background: #fff;
    //   /* Center slide text vertically */
    //   display: -webkit-box;
    //   display: -ms-flexbox;
    //   display: -webkit-flex;
    //   display: flex;
    //   -webkit-box-pack: center;
    //   -ms-flex-pack: center;
    //   -webkit-justify-content: center;
    //   justify-content: center;
    //   -webkit-box-align: center;
    //   -ms-flex-align: center;
    //   -webkit-align-items: center;
    //   align-items: center;
    // }
    .logo-carousel {
      .slide {
        width: 50px;
        // width: max-content;
        // object-fit: contain;
        // object-position: center;
        img {
          // height: 90px;
          // width: auto;
          object-fit: contain;
          object-position: center center;
          animation: scroll 30s linear infinite;
        }
      }
      .slide-track {
        width: 100%;
        display: flex;
        gap: 60px;
        overflow: hidden;
      }
    }
  }
}

// IMPROVE YOUR GAMEPLAY
#improve-your-gameplay {
  margin-top: 90px;
  margin-bottom: 90px;
}

// ALTERNATING VIDEO COLUMN
.alternating-video-column {
  .feature-video {
    width: 100%;
  }
  display: grid;
  // grid-template-columns: repeat(12, 1fr);
  grid-template-columns: 1fr 1fr;
  margin-bottom: 60px;
  // grid-template-rows: 1fr;
  // grid-column-gap: 0px;
  // grid-row-gap: 0px;
  align-items: center;

  div {
    max-width: 600px;
    &.title-section {
      max-width: 383px;
    }
  }

  &:nth-child(even) {
    div {
      order: 2;
      &.title-section {
        order: 1;
      }
    }
  }
}

#cta {
  margin-bottom: 90px;
  .cta {
    padding-top: 117px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $black-1;
    border: 1px solid $black-3;
    overflow: hidden;
    .copy {
      max-width: 374px;
      margin: 0 auto;
      padding-bottom: 80px;
    }
    .overlap-img {
      overflow: hidden;
      transform: scale(1.1);
      transform-origin: top left;
      background-size: cover;
      background-position: top left;
    }
  }
}
//  FAQ
#faq {
  max-width: 500px;
  margin: 0 auto 90px auto;

  .faq-text {
    font-family: Open Sans;
    font-weight: 400;
    color: #919191;
    width: 95%;
    padding-left: 20px;
    margin-bottom: 30px;
  }

  .faq {
    width: 1000px;
    margin: 0 auto;
    background: white;
    border-radius: 4px;
    position: relative;
    border: 1px solid #e1e1e1;
  }
  .faq label {
    display: block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    height: 56px;
    padding-top: 1px;

    background-color: #fafafa;
    border-bottom: 1px solid #e1e1e1;
  }

  .faq input[type="checkbox"] {
    display: none;
  }

  .faq .faq-arrow {
    width: 5px;
    height: 5px;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    border-top: 2px solid rgba(0, 0, 0, 0.33);
    border-right: 2px solid rgba(0, 0, 0, 0.33);
    float: right;
    position: relative;
    top: -30px;
    right: 27px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .faq input[type="checkbox"]:checked + label > .faq-arrow {
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  .faq input[type="checkbox"]:checked + label {
    display: block;
    background: rgba(255, 255, 255, 255) !important;
    color: #4f7351;
    height: 225px;
    transition: height 0.8s;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .faq input[type="checkbox"]:not(:checked) + label {
    display: block;
    transition: height 0.8s;
    height: 60px;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

// TABS
.tab-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.tab-image {
  margin: 60px auto 0 auto;
  display: none;
  width: 100%;
  min-height: 606px;
}
.tab-image.active {
  display: block;
}

.faq-container {
  .faq-content {
    margin: 0 auto;
    background-color: $black-1;
    border: 1px solid $black-3;
    padding: 15px 30px 25px 30px;
  }

  .faq-question {
    padding-top: 20px;

    .panel-title {
      width: 100%;
      position: relative;
      margin: 0;
      padding: 10px 10px 0 60px;
      display: block;
      cursor: pointer;
      font-family: "blinkersemibold", sans-serif;
    }

    .panel-content {
      color: $grey;
      // font-size: 20px;
      // padding: 0px 14px;
      // padding: 0px 14px 0 35px;
      padding: 14px 14px 0 22px;
      margin: 0 40px;
      height: 0;
      overflow: hidden;
      z-index: -1;
      position: relative;
      opacity: 0;
      -webkit-transition: 0.4s ease;
      -moz-transition: 0.4s ease;
      -o-transition: 0.4s ease;
      transition: 0.4s ease;
      font-family: "blinkerregular", sans-serif;
    }

    .panel:checked ~ .panel-content {
      height: auto;
      opacity: 1;
      padding: 14px 14px 0 22px;
      z-index: 0;
    }

    .plus {
      .plus-content {
        width: 14px;
        height: 14px;
        display: block;
        position: relative;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        -webkit-transition: 0.2s ease;
        -moz-transition: 0.2s ease;
        -o-transition: 0.2s ease;
        transition: 0.2s ease;
        .tall-spoke {
          width: 2px;
          height: 14px;
          background-color: white;
          border-radius: 9999px;
          left: 6px;
          position: relative;
        }
        .spoke {
          top: -8px;
          position: relative;
          width: 14px;
          height: 2px;
          background-color: white;
          transition: all 0.4s;
          border-radius: 9999px;
        }
      }
    }
  }

  .plus {
    position: absolute;
    margin-left: -42px;
    margin-top: 3px;
    z-index: 5;
    line-height: 100%;
  }

  .panel:checked ~ .panel-title {
    .plus-content {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
      .spoke {
        transform: scale(0);
      }
    }
  }

  .panel {
    display: none;
  }
}

// PRICING
#pricing {
  margin-bottom: 60px;
  .team-toggle-container {
    background-color: $black-3;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 40px;
    overflow: hidden;
    border-radius: 7px;
    span {
      padding: 7px 21px;
      background-color: $black-3;
      color: $white;
      border-radius: 7px;
      &:hover {
        cursor: pointer;
      }
      &.active {
        background-color: $green;
        color: $black-text;
      }
    }
  }

  .tiers-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    .tier {
      &:nth-child(2) {
        background: linear-gradient($black-3 75%, $black-1 110%);
        .btn {
          background-color: white;
          color: $black-text;
        }
      }
      min-width: 360px;
      min-height: 469px;
      background-color: $black-1;
      border: 1px solid $black-3;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        margin-bottom: 5px;
        &.must-be-hidden {
          &.show {
            display: none;
          }
          &.hide {
            display: none;
          }
        }
        &.must-be-shown {
          &.show {
            display: block;
          }
          &.hide {
            display: none;
          }
        }
        // VALUE
        span {
          color: white;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          margin-bottom: 9px;
          svg {
            margin-right: 7px;
          }
        }
      }
    }
  }
  .all-features {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    svg {
      margin-left: 5px;
    }
  }
}

// PERIOD TOGGLE CONTAINER YEARLY

// CUSTOM SWITCH
.custom-toggle-switch-container {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid $grey-1;
  margin-bottom: 20px;
  .custom-toggle-switch {
    &:hover {
      cursor: pointer;
    }
    border-radius: 9999px;
    width: 27.45px;
    padding: 2px;
    height: 16px;
    background-color: #3d4653;
    display: flex;
    // justify-content: flex-start;
    transition: all 0.1s ease-in-out;
    &.active {
      // justify-content: flex-end;
      background-color: $green;
      .slider {
        position: relative;
        left: 50%;
      }
    }
    .slider {
      transition: all 0.1s ease-in-out;
      position: relative;
      left: 0;
      border-radius: 9999px;
      width: 12px;
      height: 12px;
      background-color: white;
    }
  }
}
// END TOGGLE

// SWIPER CAROUSEL
.trusted-by-list {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

// test slider 2

// .slider {

// end test slider 2

// test new slider
// :root {
//   --marquee-width: 80vw;
//   --marquee-height: 20vh;
//   /* --marquee-elements: 12; */ /* defined with JavaScript */
//   --marquee-elements-displayed: 5;
//   --marquee-element-width: calc(
//     var(--marquee-width) / var(--marquee-elements-displayed)
//   );
//   --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
// }

// .marquee {
//   width: var(--marquee-width);
//   height: var(--marquee-height);
//   background-color: #111;
//   color: #eee;
//   overflow: hidden;
//   position: relative;
// }
// .marquee:before,
// .marquee:after {
//   position: absolute;
//   top: 0;
//   width: 10rem;
//   height: 100%;
//   content: "";
//   z-index: 1;
// }
// .marquee:before {
//   left: 0;
//   background: linear-gradient(to right, #111 0%, transparent 100%);
// }
// .marquee:after {
//   right: 0;
//   background: linear-gradient(to left, #111 0%, transparent 100%);
// }
// .marquee-content {
//   list-style: none;
//   height: 100%;
//   display: flex;
//   animation: scrolling var(--marquee-animation-duration) linear infinite;
// }
// /* .marquee-content:hover {
//   animation-play-state: paused;
// } */
// @keyframes scrolling {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(
//       calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
//     );
//   }
// }
// .marquee-content li {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   /* text-align: center; */
//   flex-shrink: 0;
//   width: var(--marquee-element-width);
//   max-height: 100%;
//   font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
//   white-space: nowrap;
// }

// .marquee-content li img {
//   width: 100%;
//   /* height: 100%; */
//   border: 2px solid #eee;
// }

// @media (max-width: 600px) {
//   :root {
//     --marquee-width: 100vw;
//     --marquee-height: 16vh;
//     --marquee-elements-displayed: 3;
//   }
//   .marquee:before,
//   .marquee:after {
//     width: 5rem;
//   }
// }
// end test new slider

// test slider
// @mixin white-gradient {
//   background: linear-gradient(
//     to right,
//     rgba(255, 255, 255, 1) 0%,
//     rgba(255, 255, 255, 0) 100%
//   );
// }

// $animationSpeed: 40s;

// // Animation
// @keyframes scroll {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(calc(-250px * 7));
//   }
// }

// // Styling
// .slider {
//   height: 100px;
//   margin: auto;
//   overflow: hidden;
//   position: relative;
//   width: 960px;

//   &::before,
//   &::after {
//     // @include white-gradient;
//     content: "";
//     height: 100px;
//     position: absolute;
//     width: 200px;
//     z-index: 2;
//   }

//   &::after {
//     right: 0;
//     top: 0;
//     transform: rotateZ(180deg);
//   }

//   &::before {
//     left: 0;
//     top: 0;
//   }

//   .slide-track {
//     animation: scroll $animationSpeed linear infinite;
//     display: flex;
//     width: calc(250px * 14);
//   }

//   .slide {
//     height: 100px;
//     width: 250px;
//   }
// }
// test slider

// TESTIMONIALS
#testimonials {
  margin-bottom: 90px;
  .swiper-buttons-container {
    position: relative;
    top: -81px;
    .swiper-buttons {
      right: 0;
      width: 150px;
      height: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      // .swiper-button-next, .swiper-button-prev{}
      .swiper-button-next,
      .swiper-button-prev {
        border-radius: 9999px;
        background-color: $black-1;
        border: 1px solid $black-3;
        width: 60px;
        height: 60px;
        transition: all 0.4s;
        &:hover {
          background-color: $black-3;
        }
        &::after {
          color: white;
          font-size: 20px;
        }
      }
    }
  }
  .testimonials {
    position: relative;
    .testimonials-gradient {
      display: block;
      background: linear-gradient(to right, transparent 0%, $black-bg 100%);
      height: 95%;
      width: 130px;
      position: absolute;
      right: 0;
      z-index: 2;
      bottom: 0;
    }
    .swiper-wrapper {
      // offset
      padding-left: 82px;

      padding-top: 70px;
      margin-top: 40px;

      .testimonial {
        // max-width: 360px;
        // &:nth-child(3n-1) {
        //   margin-top: -55px !important;
        // }

        // VERTICAL OFFSET
        // 1 2 3 7 8 9 3 4 5 9 0 1
        // 4 5 6 0 1 2 6 7 8 2 3 4
        &:nth-child(2) {
          margin-top: -55px !important;
          margin-bottom: 88px !important;
        }
        &:nth-child(5) {
          // margin-top: -55px !important;
          margin-top: -74px !important;
        }
        &:nth-child(7) {
          margin-top: -55px !important;
          margin-bottom: 88px !important;
        }
        &:nth-child(10) {
          // margin-top: -55px !important;
          margin-top: -74px !important;
        }
        &:nth-child(9) {
          margin-top: -55px !important;
          margin-bottom: 88px !important;
        }
        &:nth-child(12) {
          // margin-top: -55px !important;
          margin-top: -74px !important;
        }
        &:nth-child(14) {
          margin-top: -55px !important;
          margin-bottom: 88px !important;
        }
        &:nth-child(17) {
          // margin-top: -55px !important;
          margin-top: -74px !important;
        }
        &:nth-child(19) {
          margin-top: -55px !important;
          margin-bottom: 88px !important;
        }
        &:nth-child(22) {
          // margin-top: -55px !important;
          margin-top: -74px !important;
        }
        &:nth-child(21) {
          margin-top: -55px !important;
          margin-bottom: 88px !important;
        }
        &:nth-child(24) {
          // margin-top: -55px !important;
          margin-top: -74px !important;
        }

        // margin-top: 0;
        margin-top: 52px;

        // top row
        // &:nth-child(2) {
        //   margin-bottom: 88px !important;
        // }
        // &:nth-child(8) {
        //   margin-bottom: 88px !important;
        // }
        // &:nth-child(14) {
        //   margin-bottom: 88px !important;
        // }
        // &:nth-child(20) {
        //   margin-bottom: 88px !important;
        // }
        // &:nth-child(26) {
        //   margin-bottom: 88px !important;
        // }
        // &:nth-child(32) {
        //   margin-bottom: 88px !important;
        // }
        // bottom row
        // &:nth-child(4) {
        //   margin-top: 0 !important;
        // }
        // &:nth-child(6) {
        //   margin-top: 0 !important;
        // }
        // &:nth-child(10) {
        //   margin-top: 0 !important;
        // }
        // &:nth-child(12) {
        //   margin-top: 0 !important;
        // }
        // &:nth-child(16) {
        //   margin-top: 0 !important;
        // }
        // &:nth-child(18) {
        //   margin-top: 0 !important;
        // }
        background: $black-1;
        border: 1px solid $black-3;
        padding: 30px;
        min-height: 308px;
        > div {
          display: flex;
          flex-direction: row;
          margin-bottom: 30px;
          .img-container {
            background-color: #1d2329;
            border: 1px solid $black-3;
            margin-right: 30px;
            border-radius: 9999px;
            width: 70px;
            height: 70px;
            object-position: center;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              max-width: 45px;
              width: 100%;
              height: auto;
              display: block;
            }
          }
        }
      }
      // END TESTIMONIAL ITEM
    }
    // END SWIPER WRAPPER
  }
}
