// BODY GRADIENT
.bg-gradient {
  box-shadow: 0 0 190px 91px #24f4ab;
  width: 0;
  height: 100px;
  display: block;
}

body {
  background: $black;
}

// DROP SHADOW
.green-shadow {
  box-shadow: 0 0 30px $green;
}

// RADIUS
.radius {
  border-radius: 27px;
}

// AOS
.fade-up {
  background-color: red;
  width: 500px;
  padding: 100px;
  height: 200px;
}
.fade-left {
  background-color: orange;
  width: 500px;
  padding: 100px;
  height: 200px;
}
.fade-right {
  background-color: green;
  width: 500px;
  padding: 100px;
  height: 200px;
}

// NAV
.main-tool-bar {
  height: 80px;
  background: red;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  transition: ease 0.4s;
  &--scrolled {
    height: 0px;
    background: green;
  }
}
.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#site-navigation {
  width: min-content;

  #primary-menu {
    width: min-content;
    padding: 0;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    li {
      list-style: none;
    }
  }
}
// .scrollable-area {
//   height: 200vh;
// }

// TITLE SECTIONS
.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  h6 {
    color: $green;
  }
  h2 {
    color: white;
  }
  p {
    color: $grey;
  }
}

// FOOTER
footer {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .social-media-menu {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      row-gap: 20px;
      li {
        width: 21px;
        height: 21px;
        padding: 0;
        list-style: none;
        a {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
