// FOOTER
footer {
  @media only screen and (min-width: 768px) {
    padding: 30px 0 20px 0;
  }
  padding: 30px 0 0 0;

  border-top: 1px solid $black-3;

  .container {
    @media only screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-bottom: 0;
    }
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    .copyright {
      @media only screen and (min-width: 768px) {
        flex-direction: column;
      }
      display: flex;
      flex-direction: row;

      color: $grey;
      font-size: 16px;

      span {
        font-family: "blinkerregular", sans-serif;
        text-transform: uppercase;
      }
    }

    .custom-logo-link {
      @media only screen and (min-width: 768px) {
        order: 2;
      }
      order: 3;

      text-align: center;
    }
    .social-media-menu {
      @media only screen and (min-width: 768px) {
        padding: 0 0;
      }
      padding: 10px 0 20px 0;

      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      column-gap: 20px;
      row-gap: 20px;
      li {
        width: 21px;
        height: 21px;
        padding: 0;
        list-style: none;
        a {
          svg {
            path {
              transition: all 0.4s;
            }
          }
          &:hover {
            svg {
              path {
                fill: $green;
              }
            }
          }
        }
      }
    }
  }
}
