// FOOTER
footer {
  @media only screen and (min-width: 768px) {
    padding: 30px 0 20px 0;
  }
  padding: 30px 0 0 0;

  border-top: 1px solid $black-3;

  .container {
    @media only screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      padding-bottom: 0;
    }
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    .copyright {
      @media only screen and (min-width: 768px) {
        flex-direction: column;
      }
      display: flex;
      flex-direction: row;

      color: $grey;

      span {
        @media only screen and (min-width: 768px) {
          white-space: nowrap;
        }

        font-size: 10px;
        font-family: "blinkerregular", sans-serif;
        text-transform: uppercase;

        display: none;
        @media only screen and (min-width: 768px) {
          display: block;
        }

        &.text-center {
          display: block;
          @media only screen and (min-width: 768px) {
            display: none;
          }
        }
      }
    }

    .custom-logo-link {
      @media only screen and (min-width: 768px) {
        order: 2;
      }
      order: 3;

      text-align: center;

      max-width: 103px;
      margin-left: auto;
      margin-right: auto;
    }
    .social-media-menu {
      @media only screen and (min-width: 768px) {
        padding: 0 0;
        order: 3;
      }
      order: 2;
      padding: 20px 0 30px 0;

      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      column-gap: 20px;
      row-gap: 20px;
      li {
        width: 21px;
        height: 21px;
        padding: 0;
        list-style: none;
        a {
          svg {
            path {
              transition: all 0.4s;
            }
          }
          &:hover {
            svg {
              path {
                fill: $green;
              }
            }
          }
        }
      }
    }
  }
}
