// HERO
@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  10% {
    transform: translate(0px, 1px) rotate(-1deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, 0px) rotate(1deg);
  }
  50% {
    transform: translate(0, 1px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 0px) rotate(0deg);
  }
  70% {
    transform: translate(0px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(1px, 0px) rotate(1deg);
  }
  90% {
    transform: translate(0px, -1px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(-1deg);
  }
}

#hero {
  @media only screen and (min-width: 1400px) {
    max-width: 1320px;
  }
  @media only screen and (max-width: 1300px) {
    max-width: 970px;
  }
  @media only screen and (max-width: 1023px) {
    max-width: 708px;
  }
  @media only screen and (min-width: 768px) {
    margin-top: 60px;
  }
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hero-logos {
    @media only screen and (min-width: 768px) {
      flex-direction: row;
      height: 0;
    }
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;

    img {
      @media only screen and (min-width: 768px) {
        max-width: 60px;
      }
      max-width: 30px;

      width: 100%;
      height: auto;
      display: block;
      position: relative;
      &:hover {
        animation: shake 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }
    }
    .lhs-logos {
      @media only screen and (max-width: 767px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
      }

      // img {
      .lhs-img-container {
        position: relative;
        // MOBILE
        &:nth-child(1) {
          top: 10px;
        }
        &:nth-child(2) {
          top: 30px;
        }
        &:nth-child(3) {
        }
        &:nth-child(4) {
          top: 30px;
        }
        &:nth-child(5) {
          display: none;
        }
        &:nth-child(6) {
          display: none;
        }
        // MOBILE

        &:nth-child(2) {
          // @media only screen and (min-width: 768px) {
          //   left: 80px;
          //   top: -1px;
          // }
          // @media only screen and (min-width: 991px) {
          //   left: 180px;
          //   top: -41px;
          // }

          @media only screen and (min-width: 767px) {
            left: 80px;
            top: -1px;
          }
          @media only screen and (min-width: 1024px) {
            left: 180px;
            top: -41px;
          }
        }
        &:nth-child(3) {
          @media only screen and (min-width: 767px) {
            left: 70px;
            // top: 45px;
          }
          @media only screen and (min-width: 1024px) {
            left: 120px;
            top: 45px;
          }
        }
        &:nth-child(4) {
          @media only screen and (min-width: 767px) {
            top: 80px;
          }
          // @media only screen and (min-width: 1024px) {
          //   top: 110px;
          // }
          @media only screen and (min-width: 1300px) {
            top: 110px;
          }
        }
        &:nth-child(5) {
          @media only screen and (min-width: 767px) {
            // left: 155px;
            display: none;
          }
          @media only screen and (min-width: 1024px) {
            left: 235px;
            top: -30px;
            display: block;
          }
          @media only screen and (min-width: 1199px) {
            left: 325px;
            top: -30px;
          }
        }
        &:nth-child(6) {
          @media only screen and (min-width: 767px) {
            display: none;
          }
          @media only screen and (min-width: 991px) {
            top: 160px;
            display: block;
          }
        }
      }
    }
    .rhs-logos {
      @media only screen and (min-width: 767px) {
        display: block;
      }
      display: none;

      // img {
      .rhs-img-container {
        position: relative;
        &:nth-child(1) {
          top: 30px;
        }
        &:nth-child(2) {
          @media only screen and (min-width: 767px) {
            right: 80px;
          }
          @media only screen and (min-width: 1024px) {
            right: 200px;
            top: 46px;
          }
          @media only screen and (min-width: 1199px) {
            right: 160;
            top: 46px;
          }
          @media only screen and (min-width: 1300px) {
            right: 240px;
            top: 46px;
          }
        }
        &:nth-child(3) {
          right: 90px;
          top: 50px;
        }
        &:nth-child(4) {
          top: 80px;
        }
        &:nth-child(5) {
          // @media only screen and (min-width: 768px) {
          //   right: 180px;
          //   display: none;
          // }
          @media only screen and (min-width: 767px) {
            display: none;
          }
          @media only screen and (min-width: 1024px) {
            display: block;
            right: 250px;
          }
          @media only screen and (min-width: 1199px) {
            right: 325px;
            top: -30px;
          }
        }
        &:nth-child(6) {
          @media only screen and (min-width: 767px) {
            display: none;
          }
          @media only screen and (min-width: 991px) {
            top: 160px;
          }
        }
      }
    }
  }
  h1 {
    @media only screen and (min-width: 768px) {
      max-width: 440px !important;
      margin-top: 0;
    }
    margin-top: 15px;

    width: 100%;
    text-align: center;
    margin-bottom: 14px;
  }
  p {
    max-width: 374px;
    text-align: center;
    margin-bottom: 14px;
  }
  .hero-btn-container {
    @media only screen and (min-width: 768px) {
      justify-content: center;
    }
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    img {
      max-width: 40px;
      width: 100%;
      &:nth-child(1) {
        position: relative;
        top: 10px;
        left: 8px;
      }
      &:nth-child(2) {
        position: relative;

        right: 8px;
      }
    }
  }
  .video-section {
    width: 100%;
    max-width: 972px;
    position: relative;
    @media only screen and (min-width: 768px) {
      margin-top: 84px;
    }
    margin-top: 58px;
    span {
      width: 0;
      height: 0;
      display: block;
      box-shadow: 0 0 340px 190px rgba(255, 255, 255, 0.15);
      position: relative;
      margin: 0 auto;
      top: 0;
      z-index: 0;
    }
    .video-container {
      overflow: hidden;
      width: 100%;
      height: 100%;
      max-height: 543px;
      video {
        aspect-ratio: 1.79;
        max-width: 972px;
        width: 100%;
      }
    }
  }
}
