// HERO
@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  10% {
    transform: translate(0px, 1px) rotate(-1deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(0, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, 0px) rotate(1deg);
  }
  50% {
    transform: translate(0, 1px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 0px) rotate(0deg);
  }
  70% {
    transform: translate(0px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(1px, 0px) rotate(1deg);
  }
  90% {
    transform: translate(0px, -1px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(-1deg);
  }
}

//
.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .play-button,
  .hero-play-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;

    &.show {
      svg {
        opacity: 1;
      }
    }
    &.hide {
      svg {
        opacity: 0;
      }
    }
  }
}

#hero {
  margin-top: 60px;
  // margin-top: 182px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .hero-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 0;
    img {
      max-width: 60px;
      width: 100%;
      height: auto;
      display: block;
      position: relative;
      // transition: transform 2s;
      &:hover {
        // transform: scale(1.1);
        animation: shake 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
      }

      // &:nth-child(1) {
      //   animation-direction: alternate;
      // }
      // &:nth-child(2) {
      //   animation-direction: alternate;
      // }
      // &:nth-child(3) {
      //   animation-direction: alternate-reverse;
      // }
      // &:nth-child(4) {
      //   animation-direction: alternate;
      // }
      // &:nth-child(5) {
      //   animation-direction: alternate-reverse;
      // }
      // &:nth-child(6) {
      //   animation-direction: alternate;
      // }
      // &:nth-child(7) {
      //   animation-direction: alternate-reverse;
      // }
      // &:nth-child(8) {
      //   animation-direction: alternate-reverse;
      // }
      // &:nth-child(9) {
      //   animation-direction: alternate;
      // }
      // &:nth-child(10) {
      //   animation-direction: alternate-reverse;
      // }
      // &:nth-child(11) {
      //   animation-direction: alternate;
      // }
      // &:nth-child(12) {
      //   animation-direction: alternate-reverse;
      // }

      // animation-direction: alternate;
      // animation-direction: normal;
      // animation-direction: alternate;
      // animation-direction: alternate-reverse;
      // }
    }
    .lhs-logos {
      img {
        // &:nth-child(1) {
        //   top: 30px;
        // }
        &:nth-child(2) {
          left: 180px;
          top: -41px;
        }
        &:nth-child(3) {
          left: 120px;
          top: 45px;
        }
        &:nth-child(4) {
          top: 110px;
        }
        &:nth-child(5) {
          left: 325px;
          top: -30px;
        }
        &:nth-child(6) {
          top: 160px;
        }
      }
    }
    .rhs-logos {
      img {
        &:nth-child(1) {
          top: 30px;
        }
        &:nth-child(2) {
          right: 240px;
          top: 46px;
        }
        &:nth-child(3) {
          right: 90px;
          top: 50px;
        }
        &:nth-child(4) {
          top: 80px;
        }
        &:nth-child(5) {
          right: 325px;
          top: -30px;
        }
        &:nth-child(6) {
          top: 160px;
        }
      }
    }
  }
  h1 {
    // max-width: 440px !important;
    width: 440px !important;
    // width: 100%;
    text-align: center;
    margin-bottom: 14px;
  }
  p {
    max-width: 374px;
    text-align: center;
    margin-bottom: 14px;
  }
  .video-section {
    position: relative;
    margin-top: 84px;
    span {
      width: 0;
      height: 0;
      display: block;
      box-shadow: 0 0 340px 190px rgba(255, 255, 255, 0.15);
      position: relative;
      margin: 0 auto;
      top: 0;
      z-index: 0;
    }
    .video-container {
      overflow: hidden;
      width: 100%;
      height: 100%;
      max-height: 543px;
      video {
        aspect-ratio: 1.79;
        max-width: 972px;
      }
    }
  }
}
