// DISAPPEARING NAV
// HAMBURGER OPENED
.nav-opened {
  .skybox-menu {
    height: 100dvh;
    .container {
      // height: 100%;
      .nav-toggle-item {
        @media only screen and (max-width: 768px) {
          max-height: 100%;
        }
      }
    }
  }
}

.skybox-menu {
  @media only screen and (min-width: 768px) {
    height: 80px;
    justify-content: center;
    &--scrolled {
      height: 0px;
    }

    flex-direction: row;
  }
  justify-content: space-between;
  flex-direction: column;

  overflow: hidden;
  background: white;
  text-align: center;
  display: flex;

  align-items: center;

  color: #fff;
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  transition: ease 0.4s;

  .container {
    height: 100%;
    transition: all 0.4s ease-out;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
    @media only screen and (max-width: 768px) {
      max-width: 100% !important;
      width: 100% !important;
      padding-left: 15px;
      padding-right: 15px;
    }
    flex-direction: column;

    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;

    align-items: center;

    .nav-logo-btn-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      .nav-logo {
        svg {
          @media only screen and (max-width: 768px) {
            width: 120px;
          }
        }
      }
      .hamburger-container {
        .hamburger {
          display: flex;
          flex-direction: column;
          // background-color: rgba(0, 0, 0, 0.2);
          // LINES
          span {
            width: 21px;
            height: 2px;
            background: black;
            position: relative;
            transform-origin: 50% 50%;
            &:nth-child(1) {
              top: 0;
            }
            &:nth-child(2) {
              margin-top: 5px;
              margin-bottom: 5px;
            }
            &:nth-child(3) {
              top: 0;
            }
          }
          &.active {
            span {
              &:nth-child(1) {
                transform: rotate(-45deg);
                top: 7px;
              }
              &:nth-child(2) {
                visibility: hidden;
              }
              &:nth-child(3) {
                transform: rotate(45deg);
                top: -7px;
              }
            }
          }
          // LINES
        }
      }
    }
    .nav-toggle-item {
      // transition: all 0.4s ease-out;

      @media only screen and (max-width: 768px) {
        height: 100%;
        max-height: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      ul {
        @media only screen and (min-width: 768px) {
          flex-direction: row;
        }
        flex-direction: column;

        display: flex;
        margin: 0;
        padding: 0;
        align-items: center;
        li {
          list-style: none;
          a {
            display: block;
            text-align: center;
            padding: 13px 20px;
            text-decoration: none;
            font-size: 16px;
            line-height: 20px;
            font-family: "blinkerregular", sans-serif;
            color: black;
            transition: all 0.4s;
            &:hover {
              color: #7075d6;
            }

            &.nav-btn {
              min-width: 132px;
              @media only screen and (min-width: 768px) {
                margin-top: 0;
              }
              margin-top: 15px;

              border-radius: 9999px;
              padding: 13px 26px;
              background-color: #7075d6;
              color: white;

              &:hover {
                background-color: #e6e7fa;
                color: black;
              }
            }
          }
        }
      }
    }
    .social-nav {
      h6 {
        margin-bottom: 0;
        // font-size: 16px;
        // line-height: 20px;
        // font-family: "signsbold", sans-serif;
        font-family: "blinkersemibold", sans-serif;
        color: black;
        text-transform: uppercase;
        text-align: center;
      }
      .social-media-menu {
        padding-bottom: 30px;
        padding-top: 13px;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        column-gap: 20px;
        row-gap: 20px;
        li {
          width: 21px;
          height: 21px;
          padding: 0;
          list-style: none;
          a {
            padding: 0;
            svg {
              width: 18px;
              path {
                fill: black;
                transition: all 0.4s;
              }
            }
            &:hover {
              svg {
                path {
                  fill: $green;
                }
              }
            }
          }
        }
      }
    }
  }
}
.header-content {
  @media only screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  display: flex;

  width: 100%;
  transition: all 1.2s ease-out;
  padding-top: 20px;
  padding-bottom: 20px;

  align-items: center;
  justify-content: space-between;

  .header-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    a {
      text-wrap: nowrap;
      &.login-btn {
        text-decoration: none;
        color: $grey;
        font-family: blinkerregular, sans-serif;
        transition: all 0.4s;
        &:hover {
          color: $green;
        }
      }
    }
  }
}

.site-header {
  position: relative;
}
#site-navigation {
  @media only screen and (min-width: 768px) {
    display: flex;
    visibility: visible;
  }
  visibility: hidden;
  display: none;
  justify-content: center;
  align-items: center;

  #primary-menu,
  .nav-menu {
    @media only screen and (min-width: 768px) {
      column-gap: 35px;
    }
    column-gap: 15px;

    width: min-content;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 0;
    li {
      list-style: none;
      a {
        font-family: "blinkerregular", sans-serif;
        color: white;
        text-decoration: none;
        transition: all 0.4s;
        &:hover {
          color: $green;
        }
      }
    }
  }
}
.custom-logo-link {
  img {
    max-width: 100px;
  }
}

// STICKY NAVIGATION
// #header {
//   position: absolute;
//   width: 100%;
//   top: 0;
//   // top: 80px;
//   left: 0;
//   transition: all 0.4s ease-out;
//   // margin-top: -80px;
//   // background: red;
//   // not at origin
//   &.has-bg {
//     // background: linear-gradient(red, blue);
//     background: linear-gradient(
//       rgba(0, 0, 0, 0.4),
//       rgba(0, 0, 0, 0.2),
//       rgba(0, 0, 0, 0)
//     );
//     max-height: 0;
//     transition: all 0.4s ease-out;
//     overflow: hidden;
//     &:not(.sticky) {
//       .header-content {
//         padding-top: 0;
//         padding-bottom: 0;
//       }

//       top: 80px;
//     }
//     &.sticky {
//       max-height: 102px;
//     }
//   }
//   &.sticky {
//     position: fixed;
//     z-index: 1;
//   }
// }
