// STAT CONTAINER
@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#stat-container {
  // compensate for anchor link
  @media only screen and (min-width: 768px) {
    margin-bottom: 130px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  margin-bottom: 60px;

  background: radial-gradient(ellipse at 50% 105%, #262c33 0%, #111619 80%);
  padding-top: 38px;
  padding-bottom: 38px;
  border: 1px solid $black-3;
  gap: 60px;
  overflow: hidden !important;
  position: relative;
  // transform-style: preserve-3d;
  // .stat-gradient {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 650px;
  //   height: 650px;
  //   border-radius: 100%;
  //   background: linear-gradient($black 10%, $grey);
  //   filter: blur(250px);
  //   transition: all 450ms ease-out;
  //   position: fixed;
  //   pointer-events: none;
  //   right: 0;
  //   bottom: 0;
  //   transform: translate(calc(-50% + 15px), -50%);
  //   // transform: translate(calc(-50% + 15px), 0);
  //   z-index: -1;
  // }

  .stats {
    @media only screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 80%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

    .stat {
      margin: 0 auto;
      max-width: max-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
        @media only screen and (min-width: 768px) {
          font-size: 40px;
          line-height: 46px;
        }
        font-size: 24px;
        line-height: 30px;
      }
      p {
        text-align: center;
      }
    }
  }
  h4 {
    @media only screen and (min-width: 991px) {
      margin: 60px auto 30px auto;
    }
    @media only screen and (min-width: 768px) {
      margin: 47px auto 30px auto;
    }
    margin: 26px auto 24px auto;

    text-align: center;
    color: white;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  // TICKER
  .logo-ticker-container {
    overflow: hidden;
    display: flex;
    flex-direction: row;

    // GSAP CLASS
    &.enable {
      .track {
        @media only screen and (min-width: 768px) {
          animation: ticker 120s linear infinite;
        }
        animation: ticker 100s linear infinite;
      }
    }

    .track {
      display: flex;
      flex-direction: row;
      align-items: center;
      .track-item {
        @media only screen and (min-width: 768px) {
          padding: 0 50px;
          height: 64px;
        }
        padding: 0 20px;
        height: 45px;

        width: max-content;
        display: flex;
        align-items: center;

        img {
          @media only screen and (min-width: 768px) {
            max-height: 64px;
          }
          max-height: 45px;

          height: 100%;
        }
      }
    }
  }
}
