// STAT CONTAINER
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-10000%);
  }
}

#stat-container {
  // compensate for anchor link
  @media only screen and (min-width: 768px) {
    margin-bottom: 130px;
  }
  margin-bottom: 80px;

  background: radial-gradient(ellipse at 50% 105%, #262c33 0%, #111619 80%);
  padding-top: 60px;
  padding-bottom: 60px;
  border: 1px solid $black-3;
  gap: 60px;
  overflow: hidden !important;
  position: relative;
  // transform-style: preserve-3d;
  // .stat-gradient {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   width: 650px;
  //   height: 650px;
  //   border-radius: 100%;
  //   background: linear-gradient($black 10%, $grey);
  //   filter: blur(250px);
  //   transition: all 450ms ease-out;
  //   position: fixed;
  //   pointer-events: none;
  //   right: 0;
  //   bottom: 0;
  //   transform: translate(calc(-50% + 15px), -50%);
  //   // transform: translate(calc(-50% + 15px), 0);
  //   z-index: -1;
  // }

  .stats {
    @media only screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 80%;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;

    .stat {
      margin: 0 auto;
      max-width: max-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
      }
      p {
        text-align: center;
      }
    }
  }
  h4 {
    text-align: center;
    margin: 60px auto 30px auto;
    color: white;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .logo-container {
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .logo-carousel {
      .slide-track {
        width: 100%;
        display: flex;
        gap: 120px;
        overflow: hidden;
        .slide {
          max-width: 50px;
          width: 50px;
          height: 50px;
          object-fit: contain;
          object-position: center center;
          animation: scroll 120s linear infinite;
        }
      }
    }
  }
}
