// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.

$purple: #24f4ab; // Thats a sample how you could change a BootStrap variable.
$primary: $purple; // Once we've changed the value, we'll also make it the primary brand color.

// body bg
$black-bg: #0f1214;
// black text
$black-text: #0b0f11;
// body bg
$black: #1e1e1e;
// inactive bg
$black-1: #111619;
// active bg
$black-2: #2c333d;
// border
$black-3: #282f39;
// GREY
$grey-1: #586373;
// GREY TEXT
$grey-text: #a4aabb;
// green
$green: #24f4ab;
// green bg // transparent
$green-dark: #0d231e;
// p
$grey: #bababa;

// GRADIENT BTN
:root {
  --x: 0%;
}
